@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Roboto');

@font-face {
font-family: 'Eras Light ITC';
font-style: normal;
font-weight: normal;
src: local('Eras Light ITC'), url('ERASLGHT.woff') format('woff');
}

body, header, nav, main {
  margin: 0;
  padding: 0;
}

body {
  background: #fafafa;
  font-family: "Roboto", sans-sarif;
  font-size: 15px;
  letter-spacing: 1px;
  color: #fcfff5;
}

/* Title */
header {
  text-align: center;
  height: 130px;
  font-size: 28.5px;
  letter-spacing: 5px;
  padding-top: 10px;
  color: #fff;
  background: #151515;
  font-family: 'Eras Light ITC', sans-serif;
}

/* Navigation */
nav {
  background: #1f1f1f;
  position: relative;
  color: white;
  width: 100%;
  height: 50px;
  text-align: center;
  margin-bottom: -50px;
  padding: 5px 0;
  transition: box-shadow 0.5s ease;
}

nav ul {
  padding: 0;
}

nav li {
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
}

nav a {
  text-decoration: none;
  color: #fcfff5 ;
  padding: 20px;
}

nav a:hover {
  background: #272727;
}

.navScrolled {
  top: 0;
  z-index: 1;
  box-shadow: 0px 1px 5px #000;
}

/* Home */
  #slider {
    width: 46%;
    overflow: hidden;
    margin: 0 auto;
    padding: 80px 0px 20px 0px;
  }

/* About */
.about-container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  background: #fafafa;
  padding-top: 30px;
}

.left-side-bio {
  width: 60%;
  float: left;
  margin: 60px 20px 15px 35px;
  background: #fafafa;
  color: black;
}

.left-side-bio p{
  line-height: 1.4em;
  max-height: 570px;
  color: black;
  overflow: auto;
}

.right-side-bio {
  width: 30%;
  display: inline-block;
  background: #fafafa;
  margin-bottom: 20px;
  margin-top: 85px;
}

/* Lessons */
table {
  max-width: 500px;
  padding-top: 20px;
  margin: 10px auto;
}

caption {
  font-size: 2.3em;
  font-weight: 400;
  padding-top: 100px ;
  color: #2b343a;
}

thead th {
  font-weight: 400;
  background: #383838;
  color: #ffff;
}

tr {
  background: #676767;
  color: #fff;
}

tr:nth-child(even) {
  background: #8c8c8c;
  color: #fff;
}

th, td {
  text-align: center;
  padding: 40px;
  font-weight: 500;
}

tfoot tr {
  background: none;
}

tfoot td {
  padding: 20px 2px 0px 2px;
  font-size: .95em;
  color: #6d767b;
  line-height: 1.5em;
}

/* Contact */
.contact-div {
  text-align: center;
  background: #fafafa;
  padding: 100px 0px 50px 0px;
  width: 100%;
  margin: auto;
}

.contact-div img{
  border-radius: 100px;
}
.contact-div h2{
  font-size: 32px;
  color: #1f1f1f;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-family: 'Roboto', sans-serif;

}
.contact-div p{
  margin-top: -10px;
  padding-bottom: 15px;
  font-size: 19px;
  color: #777;
  line-height: 30px;
  font-family: 'Roboto', sans-serif;
}

.contact-div a{
  text-decoration: none;
  color: #fafafa;
  font-size: 20px;
  border-radius: 6px;
  background: #272727;
  padding: 10px 10px;
}

/* Credits */
.rights {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0.05px;
  color: black;
  font-size: 13px;
  margin-bottom: -15px;

}

.credits {
  font-size: 11px;
  text-align: center;
  text-transform: capitalize;
  color: black;
}

.rights p {
  margin-bottom: 4px;
  color: black;
}

.credits a {
  font-size: 11.3px;
  font-weight: 500;
  color: black;
  text-transform: capitalize;
  margin-left: 4px;
  text-decoration: none;
  letter-spacing: -.001px;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 959px) and (max-width: 1057px){
  header {
    height: 120px;
  }
nav {
  height: 50px;
}
nav a {
  padding: 21px 16px;
  font-size: 14px;
}
nav a:hover {
  padding-bottom: 20px;
}
}

@media (min-width: 903px) and (max-width: 958px){
  header {
    height: 120px;
  }
nav {
  height: 50px;
}
nav a {
  padding: 20px 12px;
  font-size: 14px;
}
nav a:hover {
  padding-bottom: 20px;
}
}

@media (min-width: 846px) and (max-width: 902px){
  header {
    height: 120px;
    font-size: 24px;
  }
nav {
  height: 50px;
}
nav a {
  padding: 23px 14px 21px 14px;
  font-size: 12px;
}
nav a:hover {
  padding-bottom: 21px;
}
}

@media (min-width: 800px) and (max-width: 845px){
  header {
    height: 120px;
    font-size: 23px;
  }
nav {
  height: 50px;
}
nav a {
  padding: 23px 9px 21px 9px;
  font-size: 12px;
}
nav a:hover {
  padding-bottom: 21px;
}
}

@media (min-width: 700px) and (max-width: 799px){
  header {
    height: 100px;
    font-size: 20px;
  }
nav {
  height: 50px;
}
nav a {
  padding: 26px 8px 21px 8px;
  font-size: 10px;
}
nav a:hover {
  padding-bottom: 21px;
}
}

@media (min-width: 620px) and (max-width: 699px){
  header {
    height: 90px;
    font-size: 17px;
  }
nav {
  height: 50px;
}
nav a {
  padding: 26px 4px 21px 4px;
  font-size: 10px;
}
nav a:hover {
  padding-bottom: 21px;
}
}

@media (min-width: 535px) and (max-width: 619px){
  header {
    height: 80px;
    font-size: 14px;
  }
nav {
  height: 50px;
}
nav a {
  padding: 27px 3px 22px 3px;
  font-size: 9px;
}
}

@media (min-width: 450px) and (max-width: 534px){
  header {
    height: 60px;
    font-size: 11px;
  }
nav {
  height: 50px;
  padding: 1px 0;

}
nav a {
  padding: 24px 2px 18px 2px;
  font-size: 7.5px;
}
}

@media (min-width: 395px) and (max-width: 449px){
  header {
    height: 50px;
    font-size: 8px;
  }
nav {
  height: 50px;
  padding: 1px 0;
}
nav a {
  padding: 26px 2px 18px 2px;
  font-size: 6.2px;
}
}

@media (min-width: 300px) and (max-width: 394px){
  header {
    height: 40px;
    font-size: 7px;
  }
nav {
  height: 35px;
  line-height: 0px;
}
nav a {
  padding: 23px 1px 21px 1px;
  font-size: 5.5px;
}
}

@media (min-width: 300px) and (max-width: 350px){
header {
  height: 30px;
  line-height: 10px;
  font-size: 5.5px;
}
nav a {
  padding: 23px 0px 21px 0px;
  font-size: 4.7px;
}
}

@media (min-width: 601px) and (max-width: 900px){
  .contact-div h2 {
    font-size: 28px;
  }

  .contact-div p {
    font-size: 16px;
  }
}

@media (min-width: 300px) and (max-width: 600px){
  .contact-div h2 {
    font-size: 23px;
  }

  .contact-div p {
    font-size: 12px;
  }

  .contact-div img {
    width: 175px;
    height: 175px;
  }
}
